.addContainer {
    width: 60vw;
    min-height: 70vh;
    position: relative;
    left: 20vw;
    top: 10vh;
    padding: 2em;
    background-color: white;
    border-radius: 5px;
    

}

.title {
    font-size: 6rem;
    text-align: center;

}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px){
    
    .addContainer{
        width: 80vw;
        left: 10vw;
    }

    .title{
        font-size: 4rem;
    }

}