.gauge {
    width: 85%;
    height: 80%;
    display: flex;
    border-radius: 1%;
}

.gaugeItem {
    width: 8%;
    margin-right: 1em;
    border-radius: 5px;
    background-color: blue;
    border-top: rgb(2, 2, 189) solid 1em;
    border-left: rgb(1, 1, 128) solid 1em;
    box-shadow: -10px 2px 10px 0px rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gaugeItem:last-child {
    width: 20%;
    box-shadow: 0px 0px 20px 5px rgba(132, 132, 248, 0.986);
    transform: scale(1.1);
    text-shadow: 0px 0px 15px white,
        0px 0px 15px rgba(132, 132, 248, 0.986);
}

.gaugeItem:nth-child(n+1):nth-child(-n+4) {
    width: 8%;
}

.gaugeItem:nth-child(n+5):nth-child(-n+6) {
    width: 15%;
}

.gaugeItem:nth-child(7) {
    width: 20%;
}



.gaugeNumber {
    font-size: 2.8rem;
    color: white;

}

.gaugeCancel {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    border-top-right-radius: 10px;
    background-color: red;
    border-left: rgba(126, 6, 6, 0.76) solid 1em;
    border-top: rgba(182, 10, 10, 0.76) solid 1em;
    box-shadow: -10px 2px 10px 0px rgba(0, 0, 0, 0.596);
    text-align: center;
}

.cancel {
    width: 100%;
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 15px white,
        0px 0px 15px rgba(132, 132, 248, 0.986);


}

.meter {
    width: 70vw;
    height: 7vh;
}


/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 550px) {

    .gaugeItem {
        flex-direction: column;
    }

    .gaugeNumber {
        font-size: 1.5rem;
        margin-top: .3em;
    }
}