html {
  font-size: 10px;
  /* root font size set is to 10px so that it is easier to use the responsive units em and rem*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flag-group-item {
  position: relative;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.flag-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.flag-group {
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 31px;
}

.pop-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 1000;
}

.pop-up {
  cursor: pointer;
  position: fixed;
  width: 60vw;
  height: 40vh;
  left: 20vw;
  top: 30vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pop-up-confirm-dialog {
  align-content: center;
  flex-direction: column;
}

.pop-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pop-button {
  margin-right: 15px;
}

.badge {
  margin: 1px;
}

.mr-3 {
  margin-left: 10px;
}

.mr-4 {
  color: #dc2b45;
}

.mr-5 {
  width: 89px;
}

@media only screen and (max-width: 600px) {
  .pop-up {
    width: 94vw;
    left: 3vw;
  }
}