.loginContainer {
    width: 40vw;
    min-height: 30vh;
    position: relative;
    left: 30vw;
    top: 10vh;
    padding: 2em;

    background-color: white;
    border-radius: 5px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.title {
    width: 100%;
    margin-bottom: .5em;
    font-size: 6rem;
    text-align: center;
}


/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {

    .title {
        font-size: 4rem;
    }

}