.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 8rem;
  text-align: center;
  margin-top: 3vh;
  text-shadow: rgba(80, 79, 79, 0.863) -4px -1px 0px;
}


/*============================== Search Bar =========================================*/

.inputContainer {
  display: flex;
  flex-direction:row;
  border-radius: 5px;
  width: 100%;
  margin: 1vh 0;
  justify-content: space-between;
}

.searchButton{
  background-color: white;
}

.outerInputContainer {
  width: 50vw;
  margin: 3vh 0 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.subSelect {
  width: 100%;
}

.searchComponent {
  width: 100%;
}

.clearButton {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #cf2f13;
  border-color: #cf2f13;
  padding: 1px 13.25px;
  border-radius: 8px;
}

/*============================== Flags =========================================*/

.flagContainer {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.flagItem {
  width: 50vw;
  position: relative;
  border-radius: 10px;
  margin-bottom: 4vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.flagItemUpper {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}

.info{
  height: 99%;
  margin-right: 1vw;
}

.orderNum {
  position: relative;
  top: -.25em;
  padding-left: .1em;
  margin-bottom: 0;
  flex: 2 1 auto;

  font-size: 7rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.officeCode {
  margin-bottom: 0;
  padding-left: .5em;
  font-size: 2.5rem;
}

.officeCodeSpacing {
  margin-bottom: 0;
  padding-left: .5em;
  font-size: 2.5rem;
  visibility: hidden;
}

.constituentName{
  padding-left: .8em;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.basicInfo{
  padding-left: .8em;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.statusCode {
  font-weight: 500;
}

/*============================== Status Box =========================================*/

.mobileStatus {
  margin-bottom: 2vh;
  margin-left: 10%;
  width: 80%;

  border-radius: 10px;
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
}

.statusItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.orderLinks, .orderLinks:hover, .orderLinks:focus, .orderLinks:active {
  width: 40%;
  margin: 2%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: blue;
}

.gaugeContainer {
  margin-top: auto;
  margin-bottom: 1vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Tablet Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (min-width: 550px) and (max-width: 987px) {
  .flagItem {
    width: 95vw;
    margin-bottom: 2vh;
    flex-direction: column;
  }
  
  .flagItemUpper {
    flex-direction: row;
    justify-content: space-between;
  }

  .outerInputContainer {
    width: 95vw;
  }

  .mobileStatus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clearButton {
    margin-bottom: 1vh;
  }
}


/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {
  .title {
    font-size: 5rem;
    margin-top: 0vh;
  }

  .outerInputContainer {
    width: 95vw;
    margin: 0vh 0 2vh 0;
  }

  .flagItem {
    width: 95vw;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .flagItemUpper {
    flex-direction: column;
  }

  .orderNum {
    order: 2;
    text-align: center;
    font-size: 5rem;
    margin-top: .33em;
    margin-bottom: -.25em;
  }

  .officeCode {
    text-align: center;
  }

  .officeCodeSpacing {
    display: none;
  }

  .statusGroup {
    order: 3;
  }

  .gaugeContainer {
    order: 5;
    width: 100%;
  }

  .mobileStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }

  .clearButton {
    margin-bottom: 1vh;
  }
}