.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: skewY(-5deg);
}

.orderContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 8rem;
  margin-top: 5vh;
  text-shadow: rgba(80, 79, 79, 0.863) -4px -1px 0px;
}


/*============================== Search Bar =========================================*/

.inputContainer {
  width: 50vw;
  margin: 5vh 0 2vh 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.377) -20px -2px 12px;
  border-left: rgba(128, 128, 128, 0.753) solid .3em;

}

/*================================ Sorting =======================================*/

.sortCortainer {
  width: 60vw;
}

/*============================== Flags =========================================*/

.flagContainer {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;


}

.flagItem {
  width: 50vw;
  min-height: 30vh;
  position: relative;
  border-radius: 10px;
  margin-bottom: 4vh;
  box-shadow: rgba(0, 0, 0, 0.3) -20px 15px 20px, rgba(0, 0, 0, 0.22) -20px 11px 12px;
  border-left: rgba(128, 128, 128, 0.753) solid .8em;
  border-top: rgba(128, 128, 128, 0.527) solid .8em;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 35% 65%;
}





.orderNum {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
  top: -.25em;
  padding-left: .1em;


  font-size: 9rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.officeCode {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0 0 .1em 0;
  padding-left: .5em;
  font-size: 2.5rem;
}



.statusCode {
  font-weight: 500;
}


/*============================== Status Box =========================================*/





.mobileStatus {

  margin-bottom: 2vh;
  margin-left: 10%;
  width: 80%;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) -20px 11px 38px, rgba(0, 0, 0, 0.22) -20px 7px 12px;
  border-left: rgba(128, 128, 128, 0.753) solid .8em;
  border-top: rgba(128, 128, 128, 0.527) solid .8em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;

}

.statusItem {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.orderLinks, .orderLinks:hover, .orderLinks:focus, .orderLinks:active {
  width: 40%;
  margin: 2%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: blue;


}

.gaugeContainer {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Tablet Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (min-width: 550px) and (max-width: 987px) {


  .flagItem {
    width: 95vw;
    margin-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px, rgba(0, 0, 0, 0.22) 0px 2px 10px;
  }

  .mobileStatus {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 12px, rgba(0, 0, 0, 0.22) 0px 2px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }




}


/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {


  .flagItem {
    width: 95vw;
    margin-bottom: 1vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px, rgba(0, 0, 0, 0.22) 0px 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .orderNum {
    order: 2;
    text-align: center;
    font-size: 7rem;
  }

  .officeCode {
    text-align: center;
  }

  .statusGroup {
    order: 3;
  }

  .gaugeContainer {
    order: 5;
    width: 100%;
  }

  .mobileStatus {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 12px, rgba(0, 0, 0, 0.22) 0px 2px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }

  .description {
    font-size: .9rem;
  }



}