.btn-why {
  opacity: .6;
}

.btnDelete {
  color: #FF0000;
}

.validationMessage {
  color: #FF0000;
  font-weight: bold;
}

.constituent {
  margin-bottom: 2px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  column-gap: 25%;
}

.formContainer {
  position: relative;
  left: 25vw;
  top: 10vh;
  width: 50vw;
  padding: 2em;

  background-color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  row-gap: 3em;

}

.formGroup {
  margin-bottom: 10px;
  width: 25%;
}

.title {
  font-size: 6rem;
  text-align: center;
}

.qrImage {
  height: 30%;
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {

  .formContainer {
    width: 70vw;
    left: 15vw;
  }

  .title {
    font-size: 4rem;
  }

}