.scanContainer {
    width: 40vw;
    min-height: 50vh;
    position: relative;
    left: 20vw;
    top: 10vh;
    padding: 2em;

    box-shadow: rgba(0, 0, 0, 0.3) -40px 2px 20px, rgba(0, 0, 0, 0.22) -40px 2px 12px;
    border-left: rgba(128, 128, 128, 0.753) solid .8em;
    border-top: rgba(128, 128, 128, 0.527) solid .8em;
    border-radius: 5px;
    transform: skewY(-5deg);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;

}

.skipMessage1 {
    text-align: center;
}

.skipMessage2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
    font-size: 6rem;
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {

    .title {
        font-size: 4rem;
    }

}