.scanContainer {
    width: 70vw;
    min-height: 50vh;
    position: relative;
    left: 20vw;
    top: 10vh;
    padding: 2em;

    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;
}

.container {
    width: 90%;
}

.constituent {
    margin-bottom: 2px;
}

.skipMessage1 {
    text-align: center;
}

.skipMessage2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
    font-size: 4rem;
}

.constituentBox {
    padding: 0.5rem;
    width:50%;
}

.flagDataBox {
    padding: 0.5rem;
    text-align:right;
    max-width: 50%;
    width:50%;
}

.formBox {
    width:100%;
    display:flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 10px;
    width: 25%;
  }

  label {
    width: 80%;
  }
.error {
    color: red
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {

    .title {
        font-size: 4rem;
    }

}