.scanContainer {
    width: 40vw;
    min-height: 50vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10vh;
    padding: 2em;

    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;

}

.constituent {
    margin-bottom: 2px;
}

.skipMessage1 {
    text-align: center;
}

.skipMessage2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
    font-size: 6rem;
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {

    .title {
        font-size: 4rem;
    }

    .scanContainer {
        width: 90vw;
    }
}