.sortContainer {
  width: 70vw;
  margin: 3vh 0 3vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sortButton {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-bottom: 1vw;
  border-radius: 8px;
}

.sortBox {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.sortItem {
  display: flex;
  flex-direction: row;
}

.sortTitle {
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 5px;
}

.arrowContainer {
  margin-top: -2px; 
  display: flex;
  flex-direction: column;
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Tablet Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (min-width: 550px) and (max-width: 950px) {
  .sortContainer {
    width: 80vw;
    margin: 1vh 0 3vh 0;
  }

  .sortBox2 {
    width: 100%;
  }
}

/*====================================================
  ==                                                ==
  ==                                                ==
  ==             Mobile Styling                     ==
  ==                                                ==
  ==                                                ==
  ====================================================*/

@media only screen and (max-width: 600px) {
  .sortContainer {
    width: 90vw;
    margin: 0vh 0 2vh 0;
  }

  .sortBox2 {
    width: 100%;
  }

  .sortTitle {
    font-size: 1em;
    font-weight: 500;
    margin-right: 3px;
    align-self: center;
  }
}
